@using Microsoft.AspNetCore.Components.Authorization
@using Vives.Presentation.Authentication
@using VivesRental.BlazorApp.Security
<nav class="nav-menu">
    <ul>
        <li>
            <a href="@AppRoutes.Dashboard.Index">Dashboard</a>
        </li>
        <li>
            <a href="@AppRoutes.Products.Index">Producten</a>
        </li>
        <li>
            <a href="@AppRoutes.Articles.Index">Artikelen</a>
        </li>
        <li>
            <a href="@AppRoutes.Orders.Index">Bestellingen</a>
        </li>
        <li>
            <a href="@AppRoutes.Customers.Index">Klanten</a>
        </li>
        <li>
            <button class="logout-button" @onclick="Logout">Uitloggen</button>
        </li>
    </ul>
</nav>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;
    [Inject] private IBearerTokenStore TokenStore { get; set; } = default!;
    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    private void Logout()
    {
        TokenStore.SetToken(string.Empty);
        ((TokenAuthenticationStateProvider)AuthenticationStateProvider).AuthenticateUser();
        NavigationManager.NavigateTo(AppRoutes.Account.SignIn);
    }
}
